# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Projects
lab-spring-batch/data/output/cities.csv
lab-spring-batch/data/output/world.zip
